
.login_page {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
  }
  
  .welcome {
    text-align: center;
  }
  
  .login_form {
    text-align: center;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login_button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login_button:hover {
    background-color: #0056b3;
  }
  